.container{
    width: 90%;
    margin: auto;
    padding: 10px;
}

.container h1{
background-color: dodgerblue;
width: 50%;
margin: auto;
color: white;
border-radius: 10px;
text-align: center;
padding: 10px;
text-transform: capitalize;
}

table{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    font-size: 16px;
}

table,td,th{
    border: 1px solid white;
    border-collapse: collapse;
}

td,th{
    padding: 8px;
   
}

th{
    background-color: red;
    color: white;
    font-size:20px ;
    font-family: 'Times New Roman', Times, serif;
   
}

td{
    text-align: center;
    font-size: 18px;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

tr:nth-child(odd){
    background-color: rgb(211, 207, 207);
}

tr:hover{
    background-color: gray;
}

button{
    background-color: white;
    border-color: red;
    font-size: 20px;
    
    
}
